* {
    transition: all, ease-in-out, 2s;
    background-size: cover;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    text-align: center;
    background-image: none;
    background-color: white;
    opacity: .75;
    padding: 10px;
    margin: auto;
    height: auto;
    border-radius: 20px;
    z-index: 10;
    
}

h1 { 
    font-size: 60px;
    width: 7em;
    top: 35%;
}

h2 {
    font-size: 20px;
    width: 10rem;
    margin-top: 10px;
    z-index: 10;
}

h2:hover {
    cursor: pointer;
}

